
<form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm)">
  <div class="form-group">
    <h1 class="page-header" >Search pokemon by name</h1>
    <input name="pokemonName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter pokemon name" ngModel required #name="ngModel">
  </div>
  <button class="btn btn-dark bg-dark" type="submit" >Search</button>
</form>
<div class="container">
<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Base Experience</th>
          <th>Height</th>
          <th>Weight</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{pokemon[0]}}</td>
          <td>{{pokemon[1]}}</td>
          <td>{{pokemon[2]}}</td>
          <td>{{pokemon[3]}}</td>
          <td>{{pokemon[4]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>